body {padding:0px; 
margin:0;
 background:tan; 
 font-size:14px; 
 font-family:Arial, 
 Sans-serif;
 }
#basic {
	width:960px;
	min-height:500px; 
	margin:0 auto;
	padding:20px 20px 20px 20px; 
	background:#fff;
	}
img {
	border:0;
}
a {
	color:#ffcc99;
	}
a:hover {
	text-decoration:none;
	}
 
/*Шапка сайта*/
#head-site {
	height:70px;
	}
li.none-bg {
	background:none!important;
	}
 
/*Верхнее меню сайта*/
#top-menu {
	width:960px; 
	height:74px;
	}
.bg-1 {
	width:950px;
	height:64px; 
	background: wheat
	url(images/m1.png)
	repeat-x; 
	padding:0 0 0 10px;
	}
.bg-2 {
	width:940px;
	height:8px;
	background:tan;
	margin:0 auto;
	}
.bg-1 ul {
	margin:0; 
	padding:0; 
	list-style:none;
	}
.bg-1 ul li {
	float:left;
	padding:0 2px 0 0;
	}
.bg-1 ul li a {
	display:block;
	height:40px; 
	padding:24px 27px 0 27px; 
	color:#6f4e37;
	text-decoration:none;
	text-transform:uppercase;
	}
.bg-1 ul li a:hover {
	color:#fff; 
	background:#6f4e37;
	}
 
/*Контент*/
#content {
	width:960px;
	padding:20px 0 0 0;
	}
 
/*Контент*/
.center {
	float:center; 
	width:940px; 
	padding:0 0 0 20px; 
	text-align:justify;
	}
.center h1 {
	text-transform:uppercase; 
	color:#6f4e37;
	font-weight:normal;
	margin-top:0;
	}
.left {
	width:250px;
	float:left;
	}
.block-nad-menu {
	width:240px;
	height:10px;
	background:#6f4e37;
	}
.block-pod-menu {
	width:240px;
	margin:0 0 0 10px; 
	height:10px; 
	background:#6f4e37;
	}
.block-menu {
	width:240px; 
	border-left:10px solid tan;
	background:#6f4e37;
	}
.left ul {
	margin:0;
	padding:10px 0 0 0; 
	list-style:none;
	}

.left ul li a {
	display:block; 
	width:195px;
	color:#fff; 
	text-decoration:none;
	padding:10px 5px 10px 40px;
	background: no-repeat 10px 8px;
	}
.left ul li a:hover {
	background: #6f4e37 no-repeat 10px 8px;
	}
 
 
/*Подвал*/
.myclr {
	clear:both;
	float:none;
	width:100%;
	height:1px;
	}
#podval {
	border-top:10px solid tan;
	margin-top:20px;
	}
.slovo {
	width:940px; 
	height:5px; 
	margin:0 auto;
	background:#pink;
	}
.p1 {
	float:center; 
	width:950px;
	padding:15px 0 0 0;
	}
